* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "Side Main";
  border-bottom: solid 1px #eee;
}

.Side {
  grid-area: Side;
  border-right: solid 1px #eee;
  padding: 2rem;
}

.Side-p0 {
  grid-area: Side;
  border-right: solid 1px #eee;
  padding: 0;
}

.Main {
  padding: 2rem;
  grid-area: Main;
  height: 100%;
}

.Main-p0 {
  padding: 0;
  grid-area: Main;
  height: 100%;
}

.intro_subtitle {
  line-height: 150%;
}

.btn {
  background: #4909ff;
  box-shadow: 0px 3px 15px rgba(83, 90, 255, 0.25);
  color: white;
  padding: 16px 40px;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.6;
  color: #9a7ebe;
}

.big-btn {
  display: inline-block;
  background-color: none;
  position: relative;
  align-items: center;
  padding: 16px 32px 16px 32px;
  height: 32px;
  cursor: pointer;
  font-weight: 500;
  color: #2288ff;
}

.big-btn:hover {
  color: white;
}

.big-btn:hover > .big-btn-bg {
  width: 142px;
  background: #2288ff;
}

.big-btn-bg {
  width: 50px;
  height: 50px;
  background: #e8f1ff;
  border-radius: 30px;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0px;
  transition: all 0.3s ease;
}

.homepage {
  margin-bottom: 150px;
  background: white;
}

.homepage-bg {
  position: absolute;
  top: 0;
  z-index: -2;
}

.register input {
  margin-top: 12px;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
}

.side-heading h1 {
  padding: 2rem;
  margin: 0;
}

.side-heading {
  background: #2288ff;
  color: white;
  position: relative;
}

.side-heading-stripes {
  position: absolute;
  display: flex;
  right: 0;
  height: 100%;
}

.stripe-1 {
  width: 1rem;
  height: 100%;
  background: white;
  opacity: 0.5;
}

.stripe-2 {
  right: 1rem;
  width: 1rem;
  height: 100%;
  background: white;
  opacity: 0.9;
}

.lg-card-grid {
  display: grid;
  grid-template-columns: 5fr 5fr 2fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
}

.view-more {
  justify-content: center;
  display: flex;
  align-items: center;
}

.category-btn {
  display: block;
  padding: 8px 0px;
  margin: 8px 0px;
  background: #eee;
  cursor: pointer;
}

.category-btn:hover {
  background: black;
  color: white;
}

.footer {
  height: 150px;
  position: fixed;
  bottom: 0;
  z-index: -1;
  background: black;
  color: white;
  border-color: #292929 !important;
}

.footer.Side {
  border-right: solid 1px #292929;
}